<!DOCTYPE html>
<link rel="stylesheet" href="~/Content/Site.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <a href="@Url.Action("Index", "Home")">Dorsa Fin</a>
        </div>
        <ul class="menu">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Services", "Home")">Services</a></li>
            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>