
@*<div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th style="padding:4px; margin: 1px; width:200px; background:#d4e4f3; font-weight:bold; font-size: 15px; text-align:center;">Symbol</th>
                <th>Description</th>
                <th>Exchange</th>
                <th>Type</th>
                <th>Last</th>
                <th>Change</th>
                <th>Volume</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>Underlying</th>
                <th>Strike</th>
                <th>Delta</th>
                <th>Gamma</th>
                <th>Theta</th>
                <th>Vega</th>
                <th>Rho</th>
                <th>Phi</th>
                <th>BidIV</th>
                <th>MidIV</th>
                <th>AskIV</th>
                <th>SmvVol</th>
                <th>UpdatedAt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var option in Model)
            {
                <tr>
                    <td>@option.Symbol</td>
                    <td>@option.Description</td>
                    <td>@option.Exchange</td>
                    <td>@option.Type</td>
                    <td>@option.Last</td>
                    <td>@option.Change</td>
                    <td>@option.Volume</td>
                    <td>@option.Open</td>
                    <td>@option.High</td>
                    <td>@option.Low</td>
                    <td>@option.Close</td>
                    <td>@option.Bid</td>
                    <td>@option.Ask</td>
                    <td>@option.Underlying</td>
                    <td>@option.Strike</td>
                    <td>@option.Greeks.Delta</td>
                    <td>@option.Greeks.Gamma</td>
                    <td>@option.Greeks.Theta</td>
                    <td>@option.Greeks.Vega</td>
                    <td>@option.Greeks.Rho</td>
                    <td>@option.Greeks.Phi</td>
                    <td>@option.Greeks.BidIV</td>
                    <td>@option.Greeks.MidIV</td>
                    <td>@option.Greeks.AskIV</td>
                    <td>@option.Greeks.SmvVol</td>
                    <td>@option.Greeks.UpdatedAt</td>
                </tr>
            }
        </tbody>
    </table>*@
